<div class="modal-header">
  <h4 class="modal-title">Registration Form</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="modalForm">
    <div class="form-group">
      <label class="center-block">First Name<input class="form-control" formControlName="firstName"></label>
    </div>
    <div class="form-group">
      <label class="center-block">Middle Name<input class="form-control" formControlName="middleName"></label>
    </div>
    <div class="form-group">
      <label class="center-block">Last Name<input class="form-control" formControlName="lastName"></label>
    </div>
    <div class="form-group">
      <label class="center-block">State:
        <select class="form-control" formControlName="state">
          <option *ngFor="let state of states" [value]="state">{{state}}</option>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">City<input class="form-control" formControlName="city"></label>
    </div>
    <div formGroupName="address" class="well well-lg">
      <h4>Your address info: </h4>
      <div class="form-group">
        <label class="center-block">Street:
          <input class="form-control" formControlName="street">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">City:
          <input class="form-control" formControlName="city">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">State:
          <input class="form-control" formControlName="state">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Zip:
          <input class="form-control" formControlName="zip">
        </label>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="save()">Submit</button>
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Close click')">Close</button>
</div>
